.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba($color: $greyLight, $alpha: 0.8);

    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;

    .modal {
        background-color: $white;
        width: calc(15rem + 20vw);
        height: auto;
        padding: 2rem;
        border-radius: 10px;

        backdrop-filter: blur(5px);
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

        transform: translateY(-600px);
        transition: all 0.4s ease;

        &_header {
            position: relative;
            border-bottom: 1px solid $greyDark;

            &-title {
                color: $primary;
            }

            button,
            input[type="submit"],
            input[type="reset"] {
                background: none;
                color: inherit;
                border: none;
                padding: 0;
                font: inherit;
                cursor: pointer;
                outline: inherit;
            }

            .close {
                position: absolute;
                top: 0;
                right: 0;
                background: transparent;

                img {
                    width: 1rem;
                    height: auto;
                    transition: all 0.2s ease;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        &_content {
            padding: 2rem 0;
        }

        &_footer {
            display: flex;
            justify-content: flex-end;

            .modal-footer-actions {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 10px;
            }

            .modal-close {
                background-color: transparent;
                font-weight: 600;
                &:hover {
                    color: rgba(54, 67, 72, 0.8);
                }
            }
        }
    }
}

.modalContainer.show {
    visibility: visible;
    opacity: 1;

    .modal {
        transform: translateY(0);
    }
}
